body, h1, h2, ul, li, a {
    margin: 0;
    padding: 0;
    font-family: sans-serif, "Ubuntu", Arial, Helvetica /* Font family for the webpage */
}

body {
    background: radial-gradient(circle, rgb(0,0,0), rgb(0,40,0)); /* Gradient dark purple background */
}

h1 {
    color: cyan;
    font-size: 2em;
    margin-bottom: 0.5em;
} /* Cyan color and font size and spacing adjustments for <h1> element */

h2 {
    color: plum;
    font-size: 1.5em;
    margin-bottom: 1em;
} /* Plum color and font size and spacing adjustments for <h2> element */

ul {
    list-style-type: none;
    margin-left: 20px;
    margin-bottom: 12px;
} /* Defines no list type and margins for unordered list */

ul li {
    margin-bottom: 5px;
} /* Bottom margin for <ul> and <li> elements */

a {
    display: inline-block;
    color: yellow;
    text-decoration: none;
    padding: 5px 10px;
    border: 3px solid #00FFFF;
    transition: all 0.3s ease;
} /* Makes <a> elements have cyan border and yellow font with an animation transition */

a:hover {
    background-color: green;
    color: white;
    border: 3px solid yellow;
} /* Adds green background, white font, and yellow border when hovering over <a> elements */

.center-text {
    text-align: center;
} /* Centers-aligns text */ /* Center-aligns images */

.imgOneThird {
    height: auto;
    width: calc(100% / 3);
} /* Makes images 30% of the width of the browser window or element*/

.GreenYellowFont {
    color: greenyellow;
} /* Applies a green-yellow text color */

#footer {
    color: pink;
    font-weight: bold;
} /* A custom ID that makes footers bold with pink text color */


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
} /* Makes scrollbars appear if the content overflows the viewport */

.ImageGap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
} /* Applies horizontal gaps across the page and creates small gaps on the bottom of images */

.button {
    width: 200px;
    background-color: lightgreen;
    border: none;
    color: darkblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 45%;
    cursor: pointer;
    border-radius: 12px;
    white-space: normal;
    overflow: hidden;
} /* Button styling */

.button:hover {
    background-color: #45a049;
} /* A dark green hover color for button */